stylesheet
/********** Main Style **********/
* {
  box-sizing: border-box;
  font-family: Helvetica;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  color: 150202;
  font-size: 40;
}

body {
	border-color: #9696A1
}

p {
  box-sizing: border-box;
  padding: 40px 10px 5px 10px;
  margin-right: 10px;
  width: auto;
  height: 175px;
  margin: 45px;
  font-family: Helvetica;
  margin-top: 100px;
}

#Chicken {
  background-color: #E9967A;
  color: yellow;
  width: 30%;
  position: relative;
}
#Beef {
  background-color: #CD5C5C;
  color: white;
  width: 30%;
  position: relative;
}
#Sushi {
  background-color: #F0E68C;
  color: purple;
  width: 30%;
  position: relative;
}

.textbox {
    overflow: auto;
    word-wrap
    height: 250px;
    background-color: gray;
    padding: 25px;
    margin: 45px
    text-align:justify-all;
    margin-top: 25px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-top:5px solid black;
    float: left;
}

.textbox>div {
    float: right; 
    width: 300px;
    padding: 16px;
    text-align: center;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-top:5px solid black;
    font-family: Times;
    font-size: 36px;
    font-weight: bold;
	overflow: none;
}
.row {
  width: 100%;

}
/********** Desktop only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

  
}
/********** Tablet only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, {
    float: left;
    }
    .col-md-1 {
        width: 8.33%;

    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/********** Mobile only **********/
@media (max-width: 767px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
  {
    float: left; 
   }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 74.99%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}
